{% extends "base.html" %}
{% load static %}
{% block titel %} Blog-details {% endblock titel %}

{% block content %}



<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{blog.banner.url}}" alt="#">
                </div>
                <div class="down-content">
                  <span>{{blog.catagory.titel}}</span>
                  <a href="javascript:void(0);"><h4>{{blog.titel}}</h4></a>
                  <ul class="post-info">
                    <li><a href="javascript:void(0);">{{blog.user.username}}</a></li>
                    <li><a href="javascript:void(0);">{{blog.created_date}}</a></li>
                    <li><a href="javascript:void(0);">{{blog.blog_comment.all.count}} Comments</a></li>
                  </ul>
                  <p>{{blog.description}}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags">
                          {% if blog.tags.all.count > 0 %}
                          {% for tag in blog.tags.all %}
                          <li><i class="fa fa-tags"></i></li>
                          <li><a href="javascript:void(0)">{{tag.titel}}</a>,</li>

                          {% endfor %}
                          {% else %}
                           None
                          {% endif%}
                          
                        </ul>
                      </div>
                      {% if request.user.is_authenticated %}
                      <div class="col-6">
                        <ul class="post-share">
                          <li id="like-count">{{blog.likes.count}}</li>

                          {% if like_by %}
                          <li class="pl-3 pr-3"><a href="javascript:void(0);"><i id="like-icon" data-blog="{{blog.id}}" class="fa fa-heart"></i></a>,</li>
                          {% else %}
                          <li class="pl-3 pr-3"><a href="javascript:void(0);"><i id="like-icon" data-blog="{{blog.id}}" class="fa fa-heart empty-heart"></i></a>,</li>
                          {% endif %}

                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="javascript:void(0);">Facebook</a>,</li>
                          <li><a href="javascript:void(0);"> Twitter</a></li>
                        </ul>
                      </div>
                      {% else %}
                      <div class="col-6">
                        <ul class="post-share">
                          <li id="like-count">{{blog.likes.count}}</li>
                          {% if like_by %}
                          <li class="pl-3 pr-3"><a href="{% url 'login' %}"><i class="fa fa-heart "></i></a>,</li>
                          {% else %}
                          <li class="pl-3 pr-3"><a href="{% url 'login' %}"><i class="fa fa-heart empty-heart"></i></a>,</li>
                          {% endif %}
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="javascripts:void(0);">Facebook</a>,</li>
                          <li><a href="javascripts:void(0);"> Twitter</a></li>
                        </ul>
                      </div>

                      {% endif %}
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item comments">
                <div class="sidebar-heading">
                  <h2>{{blog.blog_comment.count}} comments</h2>
                </div>
                <div class="content">
                  <ul class="d-flex flex-column">
                    {% for comment in blog.blog_comment.all%}
                    <li>
                      <div class="author-thumb">
                        <img src="{{comment.user.get_profile_picture}}" alt="#">
                      </div>
                      <div class="right-content">
                        <h4>{{comment.user.username}}<span>{{comment.created_date}}</span></h4>
                        <p>{{comment.text}}.</p>

                        {% comment %} replay from start here {% endcomment %}

                        <form id="comment" action="{% url 'add_reply' blog.id comment.id %}" method="POST">

                          {% csrf_token %}
                          
                          <div class="row">
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="text" rows="3" cols="100" id="message" placeholder="Type your reply" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                {% if request.user.is_authenticated %}
                                <button type="submit" id="form-submit" class="main-button">Replay</button>
                                {% else %}
                                <a href="{% url 'login' %}">Login to reply</a>
                                {% endif %}
                               
                              </fieldset>
                            </div>
                          </div>
                        </form>



                      </div>
                    </li>

                    {% for reply in comment.blog_comment_replay.all  %}
                    <li class="replied">
                      <div class="author-thumb">
                        <img src="{{reply.user.get_profile_picture}}" alt="#">
                      </div>
                      <div class="right-content">
                        <h4>{{reply.user.username}}<span>{{reply.created_date}}</span></h4>
                        <p>{{reply.text}}</p>
                      </div>
                    </li>

                    {% endfor %}

                    {% endfor %}

                  {% comment %} needed to delete   {% endcomment %}
                  
                    {% comment %} <li>
                      <div class="author-thumb">
                        <img src="assets/images/comment-author-03.jpg" alt="">
                      </div>
                      <div class="right-content">
                        <h4>Belisimo Mama<span>May 16, 2020</span></h4>
                        <p>Nullam nec pharetra nibh. Cras tortor nulla, faucibus id tincidunt in, ultrices eget ligula. Sed vitae suscipit ligula. Vestibulum id turpis volutpat, lobortis turpis ac, molestie nibh.</p>
                      </div>
                    </li>
                    <li class="replied">
                      <div class="author-thumb">
                        <img src="assets/images/comment-author-02.jpg" alt="">
                      </div>
                      <div class="right-content">
                        <h4>Thirteen Man<span>May 22, 2020</span></h4>
                        <p>Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo.</p>
                      </div>
                    </li> {% endcomment %}

                    {% comment %} end {% endcomment %}
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item submit-comment">
                <div class="sidebar-heading">
                  <h2>Your comment</h2>
                </div>
                <div class="content">
                  <form id="comment" action="{% url 'blog_details' blog.slug %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="text" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          {% if request.user.is_authenticated %}
                          <button type="submit" id="form-submit" class="main-button">Submit</button>
                          {% else %}
                          <a href="{% url 'login' %}">Login to comment</a>
                          {% endif %}
                         
                        </fieldset>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} sidebar start here {% endcomment %}
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="#">
                  <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                </form>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Related  Posts</h2>
                </div>
                <div class="content">
                  <ul>
                    {% for blog in recatagory%}
                    <li><a href="{% url 'blog_details' blog.slug %}">
                      <h5>{{blog.titel}}</h5>
                      <span>{{blog.created_date}}</span>
                    </a></li>
                    {% endfor%}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item categories">
                <div class="sidebar-heading">
                  <h2>Categories</h2>
                </div>
                <div class="content">
                  <ul>
                    {% for catagorys in catagory %}
                    <li><a href="{% url 'catagory_blog' catagorys.slug %}">- {{catagorys.titel}} </a></li>
                    {% endfor %}
                                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item tags">
                <div class="sidebar-heading">
                  <h2>Tag Clouds</h2>
                </div>
                <div class="content">
                  <ul>
                    <ul>
                      {% for tags in tag %}
                      <li><a href="{% url "tag-blog" tags.slug %}">{{ tags.titel }}</a></li>
                      {% endfor %}
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% include 'scripts.html'%}
